@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.header {
  border-bottom: 1px solid black;
}

body {
background-color: whitesmoke;
margin: 0;
box-sizing: border-box;
overflow-x: hidden;
}

li {
  list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1rem 1.5rem;
    background: linear-gradient(to top left, rgba(86, 13, 69, 1.0), rgba(1, 15, 84, 1.0));
  }
  
  #hamburger {
    display: none;
  }

 .button{
    display: block;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-left: 5rem;
  }

  .nav-link {
    font-size: 1.5rem;
    font-family: 'Cinzel Decorative', cursive;
    color: #f2f2f2 ;
  }

  .nav-link:hover {
    background-color: whitesmoke;
    color: black;
  }

  ul {
    display: table;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: rgb(240, 228, 240);
    list-style-position: inside;
    padding-left: 0;
}

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
    padding-bottom: 65px;
    height:550px;
  }

  .main-p {
    width: 500px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: 15px;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding-left: .5rem;
    margin-left: .5rem;
    margin-top: 10px;
    float: right;
    font-style: italic;
    color: whitesmoke;
  }
  
h2 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: rgb(119, 23, 119);
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 10px;  
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
}

h3 {
  font-family: 'Cinzel Decorative', cursive; /*"Montserrat", sans-serif;*/
  text-align: center;
  color: #080808;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  padding: 10px;  
  margin: auto;
  margin-top: 10px;
  }

a {
    text-decoration: none;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    padding: 0px;
  }


  /*mediaqueries*/

  @media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #080808;
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    #hamburger {
        display: block;
        cursor: pointer;
    }
  }

  @media screen and (max-width: 800px) {
    main, aside {
      width: 100%;
      margin-top: 0;
    } 
  }

  @media screen and (max-width: 800px) {
    .main-p {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
  }