@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


body {
background-color: whitesmoke;
margin: 0;
}

.navbar {
    overflow: hidden;
    background: linear-gradient(to top left, rgba(86, 13, 69, 1.0), rgba(1, 15, 84, 1.0));;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Cinzel Decorative', cursive;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: black;
    color: purple;
  }
  
  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    
  }
  
h2 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    color: rgb(119, 23, 119);
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    padding: 10px;  
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;

}


p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(65, 63, 63);
} 

a {
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    padding: 0px;
  }