body {
background-color: #080808;

}

h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
  }
  
  p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #999;
  }
  