@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

body {
background-color: #080808;
margin: 0;
}


.navbar {
    overflow: hidden;
    background: linear-gradient(to top left, rgba(86, 13, 69, 1.0), rgba(1, 15, 84, 1.0));;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Cinzel Decorative', cursive;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar a.active {
    background-color: whitesmoke;
    color: purple;
  }
  
  .navbar .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    padding-top: 20px;
    color: whitesmoke;
    
  }
  
h2 {
font-family: 'Cinzel Decorative', cursive; /*"Montserrat", sans-serif;*/
text-align: center;
color: purple;
box-sizing: border-box;
width: 300px;
height: 50px;
padding: 10px;  
margin: auto;
margin-top: 20px;
}

h3 {
font-family: 'Cinzel Decorative', cursive; /*"Montserrat", sans-serif;*/
text-align: center;
color: whitesmoke;
box-sizing: border-box;
width: 300px;
height: 50px;
padding: 10px;  
margin: auto;
margin-top: 20px;
}

.main-column {

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #080808;
  align-items: center;
  padding-bottom: 65px;
  height: 550px;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  width: 25%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px purple;
  font-style: italic;
  color: whitesmoke;
}

.image {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .image {
    display: flex;
    width: 200px;
    float: inline-end;
;  }
}
  
  

p {
width: 350px;
text-align: center;
font-family: "Montserrat", sans-serif;
color: rgb(240, 228, 240);
margin: 15px;
} 

.main-p {
  width: 500px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(240, 228, 240);
  margin: 15px;
}

#html {
  width: 30px;
  height: 30px;
}

#css {
  width: 30px;
  height: 30px;
}

#js {
  width: 30px;
  height: 30px;
}

#git {
  width: 30px;
  height: 30px;
}

#unity {
  width: 30px;
  height: 30px;
}

#python {
  width: 30px;
  height: 30px;
}

ul {
    display: table;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: rgb(240, 228, 240);
    list-style-position: inside;
    padding-left: 0;
}

@media screen and (max-width: 700px) {
.main-column {
  width: 100%;
}
}


/*contactformcss*/
* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 15px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* When the screen is less than 600px wide, make the two columns stack on top of each other*/
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, purple, #501488);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
/*endcontactform*/

a {
  text-decoration: none;
}

a:hover {
  color: gold;
}

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    padding: 0px;
  }